{% extends "common/cms_base.html" %}
{% block bar-tiltle %}首页{% endblock %}
{% block content %}
  这是首页
    <img src="http://heyadong-1255763516.cos.ap-chengdu.myqcloud.com/6H%E6%B6%A1%E8%BD%AE%E5%A2%9E%E5%8E%8B%E5%99%A8%E7%B4%A2%E8%B5%94%E7%9C%81%E4%BB%BD%E5%88%86%E5%B8%83.png?sign=q-sign-algorithm%3Dsha1%26q-ak%3DAKIDCJKDyYB891kHdosFkFmmdIsTu9CJxlur%26q-sign-time%3D1538451518%3B1538452418%26q-key-time%3D1538451518%3B1538452418%26q-header-list%3D%26q-url-param-list%3D%26q-signature%3De23392021acaed5bbb29400615c677cfc9bba15a">
{% endblock %}