{% extends "common/other_base.html" %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/coursepage.min.css' %}">
{% endblock %}
{% block content %}
    <ul class="course-group">
        <li class="course-image">
            <a href="#">
                <div class="thumbnail-group">
                   <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                </div>
                <div class="course-info">
                    <p class="title"> 人工只能物质载体：深度学习处理器</p>
                    <p class="author">何亚东</p>
                    <p class="priceinfo">
                        <span class="free">免费</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="course-image">
            <a href="#">
                <div class="thumbnail-group">
                   <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                </div>
                <div class="course-info">
                    <p class="title"> 人工只能物质载体：深度学习处理器</p>
                    <p class="author">何亚东</p>
                    <p class="priceinfo">
                        <span class="free">免费</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="course-image">
            <a href="#">
                <div class="thumbnail-group">
                   <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                </div>
                <div class="course-info">
                    <p class="title"> 人工只能物质载体：深度学习处理器</p>
                    <p class="author">何亚东</p>
                    <p class="priceinfo">
                        <span class="free">免费</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="course-image">
            <a href="#">
                <div class="thumbnail-group">
                   <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                </div>
                <div class="course-info">
                    <p class="title"> 人工只能物质载体：深度学习处理器</p>
                    <p class="author">何亚东</p>
                    <p class="priceinfo">
                        <span class="free">免费</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="course-image">
            <a href="#">
                <div class="thumbnail-group">
                   <img src="https://static-image.xfz.cn/1513067515_281.png-course.list.small" alt="">
                </div>
                <div class="course-info">
                    <p class="title"> 人工只能物质载体：深度学习处理器</p>
                    <p class="author">何亚东</p>
                    <p class="priceinfo">
                        <span class="not-free">$49.9</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
{% endblock %}